!!!
%html
 %head
  %title 1337 Whore 
 %body
  %form{:action=>'/', :method => "post"}
   %textarea{:rows=>"1", :cols=>"50", :name => "search"} bacon
   %br
   %textarea{:rows=>"4", :cols=>"50", :name=>"test"} hi my name is bacon and this email is getting longer than expected. have you ever thought about bacon ^ bacon && bacon?
   %br
   %input{:type => "submit",:value=>"Submit"}
